
/*
copy by That One Dragon Girl
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/

/* FONT (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&effect=fire');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&effect=fire');
@keyframes clip-path-reveal-1 {
  0%, 25% { clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); }
  50% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
} @keyframes textclip {
  to {
    background-position: 200% center;
  }
}


/* BACKGROUND */

body {

    background-image: url("https://www.dropbox.com/scl/fi/kubh4zd4jysc2l6jmpc3d/image.jpg?rlkey=891vj1f07snmnin6hcx8ltnem&st=ithe0qew&dl=1") !important;
	background-color:#b87e51;
	background-size: 100%;
    background-repeat: none;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
	font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-style: normal;
	color: #622300
}


/* MAIN PANEL */

/* RIGHT SIDE */
.container {
	background:linear-gradient(rgba(219,102, 16,0.9),rgba(255,112,80,0.56), #3a0303a1, rgba(219,102, 16, 0.9));	
	border-radius:50px;
	border:solid 20px rgb(81,19,19);
    border-style: double;
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: rgba(81,20,37,0.5);
	border: none;
	border-top: none;
	color: #ffebc1;
	border-radius: 0px 0px 20px 20px;
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: rgb(73, 26, 0);
    padding: 15px;
	border-radius: 30px;
	color: #000000;
	justify-content:center;

} 

.navbar li a {
	list-style-type: none !important;

}

.navbar a:active {
	background:rgba(161, 0, 0, 0.5) !important;
	border:10px double rgba(255, 157, 0, 0.447);

}



.navbar a:hover {
	border: 5px double #a44d09;
	border-bottom: 10px double #ff6f50;
	border-top: 10px double #ff6f50;
	background: #2f1902;


}


/* BIGGEST HEADER */




h1 {
     background-image: linear-gradient(-220deg,
    #2f1902 0%,     
    #ffa200 1%,
    #2f1902 15%,
    #2f1902 95%,
    #ffa200 97%
  );
    color:rgba(34,0,0,0);
	text-align: center;
    font-family: 'Caveat', fantasy;
    font-style: italic;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background:rgba(217,4,4,0);
    animation: textclip 4s linear infinite;
    animation-delay: 5s;
    writing-mode: text-justify;
    text-shadow: 2px 2px 5px #2f1902
}


/* MEDIUM HEADER */

h2 {
	color: #000000;
	font-size: 20px;
	text-decoration: underline;
	text-align: center
}


/* SMALL HEADER */

h3 {
	color: #000000 !important;
	font-size: 14px !important
}


/* RIGHT SIDE PANELS */
.panel {
	background: rgba(92,33,0, 0.5) !important;
	box-shadow: none !important;
	border: 5px double #622300 !important;
	color: #ffebc1 !important;
    font-family: "Quicksand", sans-serif;
    text-shadow: 0 0 4px rgb(255,137,5);
	border-radius: 15px;
    justify-self: center;
	width:100%;
	table-layout:fixed;
}
 

/* PANEL BACKGROUND COLOR */

.table {
	background: rgba(10,1,1,0.5);
    color: #ffebc1;
	border: none !important;
	border-collapse: separate;
	border-radius: 40px
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */



.top {
    background:rgba(49,23,1,0.69) !important;
	color: rgb(255,235,193) !important;
	border-radius: 50px 50px 0px 0px;
    text-align: center !important
}

.bottom,
th {
	background:rgba(49,23,3) !important;
	color: rgb(255,235,193) !important;
	border-radius: 0px 0px 50px 50px
}


/* Add row button */

.feature {
	background: rgba(1, 1, 1, 0.5) !important;
	color: #ffffff !important;
	border: 1px solid #000000 !important;
	position: static;
	border-radius: 20px !important
}


/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: rgba(1, 1, 1, 0.5);
    border-radius: 0px

}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: rgba(1, 1, 1, 0.5) !important;
	border: none !important;
	border-radius: 0px !important;
	color: #000000 !important;
	box-shadow: none !important;
	text-shadow: none !important
}


/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #000000 !important
}

div.slider.round::before /* Circle Part */ {
	background: #000000 !important
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
    color: #000000 !important;
    text-shadow: none !important
}

/* LINK COLOR */

a:link,
a:visited {
	color: #ffffff !important
}

/* LINK HOVER COLOR */

a:hover {
	color: #ffffff !important;
    text-shadow: 0 0 1px #ffffff, 0 0 4px #ffc481, 0 0 15px rgb(255,141,172);
}

/* BOX CONTAINER */

.boxcontainer {
	background: #fff;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}

/* BOXES */

.smallbox {
	float: left;
	background: rgba(0,0,0,0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}

.mediumbox {

	background: rgba(1, 1, 1, 0.5);
	color: #ffffff;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}

.largebox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #ffffff;
	padding: 10px;
	border: none;
	border-radius: 30px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}

/* HOVER BOXES */

.smallhoverbox {
	float: left;
	background: rgba(0,0,0,0.5);
	color: #ffffff;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
    transition: 3s
}

.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;

} .ellipsis {
    position: relative;

} .ellipsis:before {
    content: '&nbsp;';
    visibility: hidden;

} .mediumhoverbox {
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 48%;
	position: relative;
	text-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    transition: 1.5s


}	.mediumhoverbox:hover {
	height: 150px;
	max-width: 48%;
	z-index: 1;
	position: relative;
	white-space: normal;
	overflow: auto;
	inline-size: 48%;
	overflow-wrap: break-word;

}


/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #ffffff
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: #000000;
	border-radius: 0px
}



